<h1>Welcome to the Burger Joint</h1>

<br>

<img src="./assets/img/burger.png" alt="Yum-Yum-Burger" class="img">

<br>

<div class = "container">
    <div class="row">
        <div class="col-md-6">
            <h2 id="all">Our Burger Menu</h2>

            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                            {{this.burger_name}}
                            {{> burgers/burger-block}}
                            <br>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class = "col-md-6">
            <h2 id="eaten">Burgers Already Eaten</h2>

            <ul>
                {{#each burgers}}
                    {{#if this.devoured}}
                            {{this.burger_name}}
                            <br>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<br>

<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
            <h2>Suggest a Burger for our Menu!</h2>
        </div>
    </div>
</div>



<form class="create-form">
    <div class="form-group">
        <label for="bn">Burger Name:</label>
        <input type="text" id="bn" name="name">
    </div>
    <button type="submit">Add Burger</button>
</form>


<script>
    //Script to submit the new burger to the database and then to the page
    $(".create-form").on("submit", function(event) {
        event.preventDefault();

        var newBurger = {
            burger_name: $("#bn").val().trim()
        };


        //Post request to the server
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(function() {
            console.log("Your burger has been added!");
            location.reload();
        });
    });

    //Devour It Logic
    $(".devour-it").on("click", function(event) {

        //Put request to change devoured to true based on which devoured button was clicked
        //Grab ID:
        var id = $(this).data("id");
        //Grab Devoured variable and set equal to true
        var devoured = {
            devoured: 1
        };

        //Finally Put request
        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: devoured
        }).then(function() {
            location.reload();
        });


    });
</script>