<h1>Welcome to the Burger Joint</h1>
<br>

<div class = "container">
    <div class="row">
        <div class="col-md-6">
            <h2 id="all">Check out all the burgers on our menus!</h2>

            <ol>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <li>
                            {{this.burger_name}}
                            {{> burgers/burger-block devoured=true}}
                        </li>
                    {{/unless}}
                {{/each}}
            </ol>
        </div>

        <div class = "col-md-6">
            <h2 id="eaten">Sorry, these burgers have been eaten already!</h2>

            <ol>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <li>
                            {{this.burger_name}}
                        </li>
                    {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>
<br>

<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
            <h2>Suggest a Burger for our Menu!</h2>
        </div>
    </div>
</div>



<form class="create-form">
    <div class="form-group">
        <label for="bn">Burger Name:</label>
        <input type="text" id="bn" name="name">
    </div>
    <button type="submit">Add Burger</button>
</form>

<!--Script to submit the new burger to the database and then to the page-->
<script>
    $(".create-form").on("submit"), function(event) {
        event.preventDefault();

        var newBurger = {
            burger_name: $("#bn").val().trim()
        };

        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(function() {
            console.log("Your burger has been added!");
            location.reload();
        });
    };
</script>