h1, h2, .create-form, ul {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

body {
    background-color: teal;
}

