h1 {
    text-align: center
}

h2 {
    text-align: center
}

.create-form {
    text-align: center
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

ul {
    text-align: center
}
